<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input 
        matInput 
        type="email" 
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email
        placeholder="E-Mail"/>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input
         type="password"
         name="password"
         matInput
         ngModel
         #password="ngModel"
         required
         placeholder="Password"/>
        <mat-error *ngIf="password.invalid"
          >Please enter a valid password.</mat-error
        >
      </mat-form-field>
      <br />
      <button color="accent" mat-raised-button type="submit">Signup</button>
    </form>
  </mat-card>
