<!--Getting User Input -->
<!--<textarea rows="6" [value]="newPost" #postInput></textarea>-->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input 
        matInput 
        type="text" 
        name="title" 
        [ngModel]="updatePost?.title"
        required
        placeholder="Post Title"
        #title="ngModel"/>
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput 
        rows="4" 
        name="content" 
        [ngModel]="updatePost?.content" 
        required
        placeholder="Post Content"
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <br />
    <button color="accent" mat-raised-button type="submit">
      Save Post
    </button>
  </form>
</mat-card>
